python-dotenv==1.0.1
langchain-core
langchain-text-splitters
langchain-community
langchain-chroma
langchain-google-genai
unstructured[md]
streamlit
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl